// Footer //

footer {
  background-color: $color-footer;
  width: 100%;
  height: auto;
  border-top: solid $color-footer 5px;

  .card-body {
    text-align: center;
  }
  .footer__text {
    color: white;
    font-family: $fuente-principal;
  }
  .footer__iconos img {
    width: 25px;
  }
}

@media (max-width: 500px) {
  footer {
    .footer__text {
      font-size: 10px;
    }
    .footer__iconos {
      margin: 2px;
    }
    .footer__iconos img {
      width: 15px;
    }
  }
}
