// Colores //

$color-navbar: #4289ac;
$color-navbar-items: white;
$color-footer: #4289ac;
$color-hover: black;

// Fuentes //

$fuente-principal: roboto;

// Tamaños //

$titulo-principal: 4.5rem;
$sub-titulo: 1.5rem;

// Movimiento de texto//

@keyframes mover {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
